# Python
venv/
__pycache__/
*.pyc

# AWS SAM
.aws-sam/
samconfig.toml

# React
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.production

# Local files
*.log
.DS_Store
